:root {
  --color-primary: #233974;
  --color-accent: #fbae40;
  --color-lighter: #0097a6;
  --color-success: #6aef6a;
  --color-error: #ff486b;
  --color-dart: #424142;
  --color-text1: #000000;
  --color-text2: #090f4780;
}
